# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_driver: pdo_mysql
    database_host: 127.0.0.1
    database_port: null
    database_name: tagcade_api
    database_user: tagcadedev
    database_password: tagcadedev

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    # root directory to have files scanned
    watch_root: /home/vagrant/tagcade/tagcade-unified-report-fetcher/data
    failed_archived_files: /home/vagrant/tagcade/tagcade-unified-report-fetcher/failed
    processed_archived_files: /home/vagrant/tagcade/tagcade-unified-report-fetcher/processed
    pheanstalk_ttr: 60
    unified_report_files_tube: unified-report-files
    pheanstalk_primary_host: 127.0.0.1