# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    # root directory to have files scanned
    watch_root: /var/www/unified-report-directory-monitor.tagcade.dev/data/received

    processed_archived_files: ./data/processed
    tagcade_user_name: admin
    tagcade_user_password: '123456'
    tagcade_get_token_url: 'http://api.pubvantage-dev.test/app_debug.php/api/v1/getToken'
    ur_get_data_sources_by_integration_url: 'http://ur-api.pubvantage-dev.test/app_dev.php/api/v1/datasources/byintegration'
    ur_get_data_sources_by_email_url: 'http://ur-api.pubvantage-dev.test/app_dev.php/api/v1/datasources/byemail'
    ur_receive_file_url: 'http://ur-api.pubvantage-dev.test/app_dev.php/api/v1/datasources/entry'
    ur_email_template: pub$PUBLISHER_ID$.$TOKEN$@unified-reports.dev
    supported_extensions:
        - csv
        - xls
        - xlsx
        - meta
        - zip

    not_delete_extensions:
        - csv
        - xls
        - xlsx
        - zip
        - meta
        - lock